* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(48, 177, 59);
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  overflow: hidden;
}

.bg-image {
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 72vh;
}

.img {
  width: 100vw;
}

input {
  border: none;
  border-radius: 20px;
  background-color: antiquewhite;
  width: 24vw;
  padding: 8px 10px 8px 15px;
  font-size: 1rem;
  color: #282828;
  font-family: "Poppins", sans-serif;
  margin: 2.5em auto;
}

input:focus {
  outline: none;
}

input::placeholder {
  padding-left: 4px;
}

button {
  margin-left: 2rem;
}

.weather {
  display: flex;
  align-items: baseline;
  padding: 10px;
  border-radius: 20px;
}

.weather p {
  color: #202020;
  font-size: 1.6em;
}

.fa-map-marker-alt {
  color: #202020;
  padding: 12px;
  font-size: 2.2rem;
}

.type {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 1rem 1rem auto;
}

.type p {
  margin: 0.8rem;
}

.temp {
  backdrop-filter: blur(2rem);
}

.temp h2 {
  padding: 3rem;
  background-color: rgb(229, 229, 233);
  text-align: center;
}
